* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

nav{
    background-color: #7cbf60;
    display: flex;
    justify-content: center;
}
nav ul li a{
    color: #1b4400!important;
    font-weight: 650;
    font-size: 1.1rem!important;
}

ul li {
    list-style: none;
    text-align: left;
}

nav ul li a:hover{
    transition: .8s;
    background-color: #fbfff2!important;
}

body{
    background-color: #fbfff2;
}


img.hidro-bancada, img.hidro-torre{
    width: auto;
    height: 43.11vh;
}

.galeria{
    width: auto;
    height: 40vh;
}

.conteudo{
    background-color: #CFECC0!important;
    color: #276200;
    padding: 3% 10%;
    width: 100%;
}

.distancia{
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}


.pE{
    margin-left: 13rem;
}
