* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #fceae3;
}

.tamanho{
    width: 80%;
    margin-left: 10%;
}

img.hidro-bancada, .galeria{
    width: auto;
    height: 40vh;
}


.distancia{
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}